<div class="container mt-3">
  <div class="row" *ngIf="!mainLoader">
    <div class="col-md-12 col-sm-12">
      <div class="card border-warning">
        <div class="card-header text-center bg-warning">
          <h4><i class="fas fa-user-edit mr-2"></i>Edit Profile</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" >
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" [value]="detailedStudent?.name" disabled>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Stream</label>
              <input type="text" class="form-control" [value]="detailedStudent?.stream" disabled>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Class</label>
              <input type="text" class="form-control" [value]="detailedStudent?.class" disabled>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Email</label>
              <input type="text" class="form-control" [value]="detailedStudent?.email" disabled>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <label for="name">Password</label>
              <input type="password" class="form-control" [value]="detailedStudent?.password" formControlName="password">
              <div class="form-text text-danger" *ngIf="studentForm.get('password').hasError('required') && studentForm.get('password').dirty">
                Password cannot be blank
              </div>
              <div class="form-text text-danger" *ngIf="studentForm.get('password').hasError('minlength') && studentForm.get('password').dirty">
                Password must contain minimum 6 characters
              </div>
            </div>
            <div class="form-group col-md-4 col-sm-6 offset-md-4 offset-sm-3">
              <button class="btn btn-warning btn-block" *ngIf="!showLoader" type="submit" [disabled]="!studentForm.valid || !studentForm.dirty">
                Save
              </button>

              <div class="text-center">
                <div class="spinner-border text-warning" role="status" *ngIf="showLoader">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div><br/><br/>
  <div class="row mt-3" *ngIf="mainLoader">
    <div class="col-md-12">
      <div class="text-center">
        <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
