<div class="container mt-5">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h3><i class="fas fa-users"></i>&nbsp; Student list</h3>
      </div>
    </div>
    <hr><br/>
    <div class="row" *ngIf="!showLoader">
      <div class="col-md-4 col-sm-6">
        <label for="nameFilter">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="nameFilter" [(ngModel)]="searchName">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <label for="yearFilter">Year</label>
        <div class="input-group">
          <input type="text" class="form-control" id="yearFilter" [(ngModel)]="searchYear">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <label for="streamFilter">Stream</label>
        <div class="input-group">
          <input type="text" class="form-control" id="streamFilter" [(ngModel)]="searchStream">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row" *ngIf="!showLoader">
      <div class="col-md-12 col-sm-12">
        <div class="card border-warning">
          <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                      <tr>
                          <th>Sr no</th>
                          <th>Name</th>
                          <th>Email Id</th>
                          <th>Class</th>
                          <th>Stream</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filteredStudentList |  paginate: { id: 'pager',
                      itemsPerPage: 9,
                      currentPage: p }; let i = index;">
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.class}}</td>
                        <td>{{item.stream}}</td>
                      </tr>
                    </tbody>
                    <pagination-controls  id="pager"
                      (pageChange)="p = $event"
                      autoHide="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
    <div class="row" *ngIf="showLoader">
        <div class="col-md-12 col-sm-12">
            <div class="text-center">
                <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
              </div>
        </div>
      </div>
  </div>
