<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card text-dark border-warning mt-5">
            <div class="card-header">About Us</div>
            <div class="card-body">
              <h5 class="card-title">About the Institution</h5>
              <p class="card-text">
                  Pillai HOC College of Arts, Science and Commerce, Rasayani was established in the year 2008 by Dr. K. M. Vasudevan Pillai,
                   Chairman and CEO, MES whose vision was to provide students of Rasayani with quality education in a high-tech atmosphere. It is located in
                    a picturesque location of 35 acre campus of green environment where learning can be, indeed a pleasure. It started off with just a handful
                    of students, but today it has grown to a full-fledged Bachelors College with eight disciplines, i.e. B.A., B.Com. (Regular), B.Com.A&F, B.M.S.,
                    B.M.M., B.Sc. (Computer Science) and B.Sc. (Information Technology), B.Sc. (General).

                  Another salient feature is that even the class rooms are internationally designed for the teacher to co-ordinate with the students easily
                  and efficiently. The school has a unique teaching method, which aims at developing the students born talents and potentional, knowledge is variety
                  of audio-visual teaching aids and internet facility to student’s right will always be a blazing land mark of Raigad district. The college is located
                  in Pillai HOCL Educational Campus at Rasayani in a multi – dimensional education campus which is surrounded by lush natural beauty and which has
                  state-of-the-art infrastructure providing the right environment for learning.

                  PHCASC is affiliated to and is a constitute college of the University of Mumbai.
              </p>
              <hr>
              <h5 class="card-title">Vision</h5>
              <p class="card-text">
                  The vision of the college is to provide education to all, irrespective of region, religion, caste, economic strata and academic
                  performance thereby becoming the real catalyst for change in the society.
              </p>
              <hr>
              <h5 class="card-title">Mission</h5>
              <p class="card-text list-group-flush">
                  <li class="list-group-item border-0">To ensure excellence in education by maintaining high standards of teaching</li>
                  <li class="list-group-item border-0">To help the students enhance their skill sets</li>
                  <li class="list-group-item border-0">To work for the personality development of the students</li>
                  <li class="list-group-item border-0">To inculcate in them scientific temper and civic sense</li>
                  <li class="list-group-item border-0">To provide best infrastructure comparable to international standards</li>
              </p>
            </div>
          </div>
    </div>
  </div>
</div>
